<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dsa_problem_solution/src/dsa_problem_solution/_6_5_lastOccurrence.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dsa_problem_solution._6_5_lastOccurrence"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dsa_problem_solution"/>
</launchConfiguration>
